@page
@model IndexModel
@{
    ViewData["Title"] = "Project 1";
}

<h2>Computer Vision - Road Sign detection</h2>

<h1>Content to come</h1>

<h2>Time Series - Reciept project</h2>

<h1>Content to come</h1>

<h2>Time Series - Stock value Perdictions</h2>

<h1>Content to come</h1>