@page
@model IndexModel
@{
    ViewData["Title"] = "Project2";
}

<h1>Time Series - Forecasting</h1>
<p>Content to come</p>

<h2>Time Series - Reciept project</h2>

<p>Content to come</p>

<h2>Time Series - Stock value Perdictions</h2>

<p>Content to come</p>